<div>
	<h1> Question </h1>
</div>

<div>
	Would you rather...
</div>

<div>
	<span>
	<%= "#{@post.answer1}"%>
	</span>
	<span>
	or
	</span>
	<span>
	<%= "#{@post.answer2}" %>		
	</span>
</div>
<br>
<%= link_to "See another random question", @random_article %>
<br>

<h2>
	<%= "#{@post.comments.count}"%> Comments
</h2>
	<%= render @post.comments%>
	<h3>
		Add a comment:
	</h3>
	<%= render "comments/form" %>
