<!DOCTYPE html>
<html>
  <head>
    <title>Icebreakerz2</title>
    <%= csrf_meta_tags %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-default">
  <div class="foward">
 <% if current_user %>
  <div class="nav_text">Signed in as <%= current_user.name %></div> 
 <%= link_to "Logout", '/logout', :class => 'nav_text' %>
<% else %>
  <%= link_to 'Login', '/login' , :class => 'nav_text' %>  <%= link_to 'Signup', '/signup' , :class => 'nav_text' %> 
<% end %>

<%= link_to "Home", '/', :class => 'nav_text' %>

  
</div></nav>
<%= yield %>
  </body>
</html>
