<div id="nhie_post">
<div>
	<h1> Question </h1>
</div>

<div>
	Never have I ever...
</div>

<div>
	<span>
	<%= "#{@post2.question}"%>
	</span>
</div>
<br>
<%= link_to "See another random question", @random_article1 %>
<br>

<h2>
	<%= "#{@post2.nhiecomments.count}"%> Comments
</h2>
	<%= render @post2.nhiecomments %>
	<h3>
		Add a comment:
	</h3>
	<%= render "nhiecomments/form" %>
</div>

