<% if current_user %>
<%= form_for([@post,@post.comments.build]) do |f| %>
	<p>
		<%= current_user.name%><br>
		<%=  f.hidden_field :name, value: current_user.name%>
		<%= f.hidden_field :user_id, value: current_user.id %>
	</p>
	<p>
		<%= f.text_area :body%>
	</p>
	<br>
	<p>
		<%= f.submit "Submit" %>
	</p>

	<% end %>

	<% else %>
		<% nil %>
	<% end %>