<%= form_for([@post,@post.comments.build]) do |f| %>
	<p>
		<%= f.label :name%><br>
		<%= current_user.name%>
		<%= f.(current_user.id) :user_id %>
	</p>
	<p>
		<%= f.text_area :body%>
	</p>
	<br>
	<p>
		<%= f.submit "Submit" %>
	</p>

	<% end %>
