<% if current_user %>
<%= form_for([@post,@post.comments.build]) do |f| %>
	<div class="media-body">
      <h3 class="media-heading">
		<%= current_user.name%><br> </h3>
		<%=  f.hidden_field :name, value: current_user.name%>
		<%= f.hidden_field :user_id, value: current_user.id %>
		<br>
	<p>
		<%= f.text_area :body%>
	</p>
	<br>
	<p>
		<%= f.submit "Submit" %>
	</p>
    </div>
    </div>
    </div>

	<% end %>

	<% else %>
		<% nil %>
	<% end %>